<div class="container" id="home-container">
  <div class="py-5 text-center" id="home-jumbotron">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">A place to share stories, learn new things, and connect with the community. Read our latest articles below or sign up to start writing.</p>
    <hr class="my-4">
    <p>Ready to share your story? Sign up is free and easy.</p>
    <p class="lead">
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </p>
  </div>
</div>