/*
 * application.css
 * Bootstrap jest ładowany z application.js
 */

/* Ten plik jest ładowany PO Bootstrapie,
   więc wszystkie style tutaj automatycznie go nadpiszą. */

.navbar {
    background-color: black  !important;
}

body {
    background-color: lightgray;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

#home-jumbotron {
    background-image: url('/images/image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    height: 425px;
}