/*
 * application.css
 * Bootstrap jest ładowany z application.js
 */

/* Ten plik jest ładowany PO Bootstrapie,
   więc wszystkie style tutaj automatycznie go nadpiszą. */

.navbar {
    background-color: #FDF6EA !important;
}

/* Możesz dodawać więcej swoich styli poniżej */
body {
    background-color: #fcfcfc;
}