<h1 class="text-center mt-4">Edit category name</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
  </div>

  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-10 text-center">
      <%= link_to categories_path(@category), class: "btn btn-outline-dark mt-3" do %>
        <i class=""></i> Cancel and return to categories listing
      <% end %>
    </div>
  </div>
</div>